#svg2 {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  top: -300px;
  min-width: 1400px;
}

#pathMain {
  fill: transparent;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
}

.svgPath {
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
}

.svgPathRandom-1 {
  animation: dotsColor 0.5s alternate infinite;
}

.svgPathRandom-2 {
  animation: dotsColor2 1.5s alternate infinite;
}
.svgPathRandom-3 {
  animation: dotsColor3 2s alternate infinite;
}
.svgPathRandom-4 {
  animation: dotsColor4 2.5s alternate infinite;
}
.svgPathRandom-5 {
  animation: dotsColor5 1s alternate infinite;
}

@keyframes dotsColor1 {
  from {
    fill: white;
  }

  to {
    fill: #bcfd4c;
  }
}

@keyframes dotsColor2 {
  from {
    fill: white;
  }

  to {
    fill: #bcfd4c;
  }
}

@keyframes dotsColor3 {
  from {
    fill: white;
  }

  to {
    fill: #6e6e6e;
  }
}

@keyframes dotsColor4 {
  from {
    fill: white;
  }

  to {
    fill: #6e6e6e;
  }
}

@keyframes dotsColor5 {
  from {
    fill: white;
  }

  to {
    fill: #6e6e6e;
  }
}
