.header,
.social {
  svg {
    stroke: #6e6e6e;
  }

  .drawer-button {
    svg {
      fill: #6e6e6e;
    }
  }
}

.dark {
  .social {
    svg {
      stroke: white;
    }

    a {
      &:hover {
        svg {
          stroke: #bcfd4c;
        }
      }
    }
  }
  .header {
    .other-button {
      svg {
        stroke: white;
      }

      &:hover {
        svg {
          stroke: #6e6e6e;
        }
      }
    }

    .drawer-button {
      svg {
        fill: white;
        stroke: white;
      }

      &:hover {
        svg {
          stroke: #6e6e6e;
          fill: #6e6e6e;
        }
      }
    }
  }
}

.paused {
  * {
    animation-play-state: paused !important;
  }
}
